---
layout: default
welcome: Hey there! I'm Boris – Freelance tech consultant & developer.<br>Nice to finally meet you!
---

{% include header.html %}

<nav class="menu profile" id="profile">
    <div class="menu-bar content-container clearfix">
        {% include stage.html %}
        <div id="target-element">
            <nav>
                <ul class="nav navbar-nav clearfix">
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</nav>

<section id="positions" class="dated_story">
    <div class="col-sm-4 timetable-left"></div>
    <div class="col-sm-8 timetable-right">
        <header>
            <h3 class="header-text empty">Work experience</h3>
        </header>
    </div>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
            <a href="https://jvm.com/de/" target="_blank">
                <h4>Freelance</h4>
            </a>
            <h5 class="date-range">01/2019 - Present</h5>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>Tech Consultant & Developer</h4>
                <p>Currently working on a freelance basis, I support clients in realizing technical and conceptual
                    challenges
                    as I always keep the user in mind.</p>
                <ul>
                    <li><strong>DEIN ERSTER TAG (ongoing):</strong><br />Technical product management of an app for the
                        Gen Z that helps users to find apprenticeship and dual study offers in a modern way adapted to
                        the specific
                        target group.</li>
                    <li><strong>Technologiestiftung Berlin:</strong><br />Product ownership and development to create an
                        open data platform in the context of activities around artists and cultural institutions.</li>
                    <li><strong>SDA SE:</strong><br />Development of a white label service mobile app for health
                        insurance providers.</li>
                    <li><strong>XU Group:</strong><br />Concept and prototype development of a modern white label
                        learning platform to help educate employees.</li>
                </ul>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
            <a href="https://jvm.com/de/" target="_blank">
                <h4>digetiers</h4>
            </a>
            <h5 class="date-range">05/2022 - 08/2022</h5>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>Senior Manager</h4>
                <p>As part of the leadership team of an innovative management consulting company, I led, among others, a
                    customer project for the AI-based, automated determination of Used car prices based on different
                    vehicle characteristics.</p>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
            <a href="https://jvm.com/de/" target="_blank">
                <h4>Jung von Matt/next Alster</h4>
            </a>
            <h5 class="date-range">01/2017 - 12/2018</h5>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>Technical Director</h4>
                <p>I have built up, trained and most of all led a team of developers and technical project managers to
                    strengthen Jung von Matt's digital expertise and excellence and to engage in the agencies external
                    perception.</p>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
            <a href="https://www-935.ibm.com/services/ibmix/" target="_blank">
                <h4>IBM iX</h4>
            </a>
            <h5>01/2015 - 12/2016</h5>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>Web Application Architect &amp; Consultant</h4>
                <p>I was part of establishing the IBM iX Studio in Hamburg and strengthen its digital competencies.
                    Furthermore, I played a core role in IBM's most important topics and consulted clients by applying
                    Design Thinking approaches.</p>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
            <a href="https://jvm.com/de/" target="_blank">
                <h4>Jung von Matt/next</h4>
            </a>
            <h5>09/2009 - 12/2014</h5>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>Senior Web Developer &amp; Team Coordinator</h4>
                <p>At Jung von Matt I deepened my knowledge in web technology and quickly became a team lead and subject
                    matter expert within the development discipline.<br></p>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
            <a href="https://www-935.ibm.com/services/ibmix/" target="_blank">
                <h4>IBM Interactive</h4>
            </a>
            <h5 class="date-range">08/2007 - 08/2009</h5>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>Web Developer</h4>
                <p>After my studies I jumped into cold water by learning the core elements of front-end development.</p>
            </div>
        </div>
    </article>
</section>

<section class="full-width">
    {% include venn.html %}
</section>

<section id="degrees" class="dated_story">
    <div class="col-sm-4 timetable-left"></div>
    <div class="col-sm-8 timetable-right">
        <header>
            <h3 class="header-text">Education</h3>
        </header>
    </div>
    <article data-bind="contents">
        <div class="col-sm-4 timetable-left marked">
            <span></span>
            <a target="_blank" rel="nofollow" href="http://www.hwr-berlin.de">
                <h4>Berlin School of Economics and Law, Berlin + IBM Germany</h4>
            </a>
            <h5 class="date-range">09/2004 - 08/2007</h5>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>Bachelor of Science in Business Information Systems (dual study system)</h4>
                <p>Bachelor&rsquo;s thesis: "From Web 2.0 to vBusiness - Analysis of application potentials
                    of virtual world environments for businesses.</p>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
            <a target="_blank" rel="nofollow" href="http://www.bollhagen-gymnasium.de/">
                <h4>Hedwig-Bollhagen-Gymnasium, Velten</h4>
            </a>
            <h5 class="date-range">1998 -2004</h5>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>Abitur (equivalent to A-level)</h4>
                <p>Focus subjects: English, History
                    <br />Further examination subjects: Mathematics, Computer Sciences
                </p>
            </div>
        </div>
    </article>
</section>

<section id="skills" class="strengths page-break">
    <div class="col-sm-4 timetable-left"></div>
    <div class="col-sm-8 timetable-right">
        <header>
            <h3 class="header-text">Skill Stack</h3>
        </header>
    </div>
    <article>
        <div class="col-sm-4 timetable-left mt">
            <h4>Product & Team Management</h4>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body competency">
                <div class="competency-bar">
                    <div class="competency-level"></div>
                </div>
                <p>Leadership, Product Ownership, Communication, Technical Concept, Scrum, Kanban, Scrumban, DevOps</p>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left mt">
            <h4>Front-end Development</h4>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body competency">
                <div class="competency-bar">
                    <div class="competency-level"></div>
                </div>
                <p>HTML, CSS, JavaScript / TypeScript (Vanilla / ESNext, Angular, React, Vue, etc.), AMP, PWA, Hybrid
                    App Development, Responsive Design, Performance Optimization, SEO, Accessibility, etc.</p>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left mt">
            <h4>Back-end Development</h4>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body competency">
                <div class="competency-bar">
                    <div class="competency-level"></div>
                </div>
                <p>Node.js, Java, PHP, MySQL, NoSQL Databases</p>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left mt">
            <h4>Content Management Solutions</h4>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body competency">
                <div class="competency-bar">
                    <div class="competency-level"></div>
                </div>
                <p>Neos CMS, Wordpress, FirstSpirit, WebSphere Portal Server, Shopware, Contentful, Moodle, etc.</p>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left mt">
            <h4>User Experience Development</h4>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body competency">
                <div class="competency-bar">
                    <div class="competency-level"></div>
                </div>
                <p>Design Thinking, Rapid Prototyping, Wireframes / Mockups (Balsamiq, Axure, InVision, Figma, Sketch,
                    etc.)
                </p>
            </div>
        </div>
    </article>
    <article data-bind="contents">
        <div class="col-sm-4 timetable-left mt">
            <h4>Other Technical Skills &amp; Tools</h4>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body competency">
                <div class="competency-bar">
                    <div class="competency-level"></div>
                </div>
                <p>Data Analytics, AWS, IBM Cloud, IBM Watson Suite, Natural Language Processing, Voice Assistant
                    Frameworks, AI Technology, Hosting & Infrastructure Setup, Continuous Integration & Delivery,
                    Arduino, MS Office, GSuite, Adobe Suite, Atlassian Suite, Unix, Git, etc.</p>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left mt">
            <h4>Languages</h4>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body competency">
                <div class="competency-bar">
                    <div class="competency-level"></div>
                </div>
                <p>Fluent in English and German, basic knowledge in French</p>
            </div>
        </div>
    </article>
</section>

<section id="expertise" class="full-width">
    <header>
        <h3 class="header-text">Main work areas</h3>
    </header>
    <article>
        <ul class="circles">
            <li>
                <h4>Product Management</h4>
                <svg width="300px" height="300px" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                    <title>Product Management</title>
                    <path d="m33.8 191.1 75.1.1v70.3h.1v4.7l126.6-201.8zm90.1-15-38.1-.1 102.3-64.2-64.2 102.2z"
                        fill="#081a6f" />
                </svg>
            </li>
            <li>
                <h4>Tech Consulting</h4>
                <svg width="300px" height="300px" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                    <title>Digital Consulting</title>
                    <path
                        d="m167.9 66.7 23.7-35.7-41.6-13.9-41.7 13.9 23.8 35.7-30.2 170.9 48.1 48.1 48.1-48.1zm-36.2-27.7 18.3-6.1 18.3 6.1-12.4 18.5h-11.9zm14.5 33.5h7.4l28.2 159.9-31.8 32-31.9-31.9z"
                        fill="#081a6f" />
                </svg>
            </li>
            <li>
                <h4>Front-end Development</h4>
                <svg width="300px" height="300px" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                    <title>Front-end Development</title>
                    <path
                        d="m99.7 89.7-60.3 60.3 60.3 60.3 10.6-10.6-49.7-49.7 49.7-49.7zm90 10.6 49.7 49.7-49.7 49.7 10.6 10.6 60.3-60.3-60.3-60.3zm-65.6 117.8 14.5 3.9 37.5-140-14.5-3.9z"
                        fill="#081a6f" />
                </svg>
            </li>
        </ul>
    </article>
</section>

<section id="what" class="dated_story">
    <div class="col-sm-4 timetable-left"></div>
    <div class="col-sm-8 timetable-right">
        <header>
            <h3 class="header-text">What I do:</h3>
        </header>
    </div>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span>
                <svg width="300px" height="300px" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                    <title>Product Management</title>
                    <path d="m33.8 191.1 75.1.1v70.3h.1v4.7l126.6-201.8zm90.1-15-38.1-.1 102.3-64.2-64.2 102.2z"
                        fill="#FFFFFF" />
                </svg>
            </span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>team leadership and client management</h4>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span>
                <svg width="300px" height="300px" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                    <title>Product Management</title>
                    <path d="m33.8 191.1 75.1.1v70.3h.1v4.7l126.6-201.8zm90.1-15-38.1-.1 102.3-64.2-64.2 102.2z"
                        fill="#FFFFFF" />
                </svg>
            </span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>analysis, implementation and optimization of processes for project management and workflows</h4>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span>
                <svg width="300px" height="300px" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                    <title>Product Management</title>
                    <path d="m33.8 191.1 75.1.1v70.3h.1v4.7l126.6-201.8zm90.1-15-38.1-.1 102.3-64.2-64.2 102.2z"
                        fill="#FFFFFF" />
                </svg>
            </span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>evaluation and leading of service providers</h4>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span>
                <svg width="300px" height="300px" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                    <title>Digital Consulting</title>
                    <path
                        d="m167.9 66.7 23.7-35.7-41.6-13.9-41.7 13.9 23.8 35.7-30.2 170.9 48.1 48.1 48.1-48.1zm-36.2-27.7 18.3-6.1 18.3 6.1-12.4 18.5h-11.9zm14.5 33.5h7.4l28.2 159.9-31.8 32-31.9-31.9z"
                        fill="#FFFFFF" />
                </svg>
            </span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>technical analyzes in early project phases and ideation situations</h4>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span>
                <svg width="300px" height="300px" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                    <title>Digital Consulting</title>
                    <path
                        d="m167.9 66.7 23.7-35.7-41.6-13.9-41.7 13.9 23.8 35.7-30.2 170.9 48.1 48.1 48.1-48.1zm-36.2-27.7 18.3-6.1 18.3 6.1-12.4 18.5h-11.9zm14.5 33.5h7.4l28.2 159.9-31.8 32-31.9-31.9z"
                        fill="#FFFFFF" />
                </svg>
            </span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>conception and prototyping of digital and interactive products</h4>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span>
                <svg width="300px" height="300px" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                    <title>Digital Consulting</title>
                    <path
                        d="m167.9 66.7 23.7-35.7-41.6-13.9-41.7 13.9 23.8 35.7-30.2 170.9 48.1 48.1 48.1-48.1zm-36.2-27.7 18.3-6.1 18.3 6.1-12.4 18.5h-11.9zm14.5 33.5h7.4l28.2 159.9-31.8 32-31.9-31.9z"
                        fill="#FFFFFF" />
                </svg>
            </span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>consulting and evaluation of emerging and transformational technology</h4>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span>
                <svg width="300px" height="300px" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                    <title>Digital Consulting</title>
                    <path
                        d="m167.9 66.7 23.7-35.7-41.6-13.9-41.7 13.9 23.8 35.7-30.2 170.9 48.1 48.1 48.1-48.1zm-36.2-27.7 18.3-6.1 18.3 6.1-12.4 18.5h-11.9zm14.5 33.5h7.4l28.2 159.9-31.8 32-31.9-31.9z"
                        fill="#FFFFFF" />
                </svg>
            </span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>tutoring, training and speaking at events</h4>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span>
                <svg width="300px" height="300px" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                    <title>Front-end Development</title>
                    <path
                        d="m99.7 89.7-60.3 60.3 60.3 60.3 10.6-10.6-49.7-49.7 49.7-49.7zm90 10.6 49.7 49.7-49.7 49.7 10.6 10.6 60.3-60.3-60.3-60.3zm-65.6 117.8 14.5 3.9 37.5-140-14.5-3.9z"
                        fill="#FFFFFF" />
                </svg>
            </span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>technical architecture and (front end) development</h4>
            </div>
        </div>
    </article>
</section>

<section id="how" class="dated_story">
    <div class="col-sm-4 timetable-left"></div>
    <div class="col-sm-8 timetable-right">
        <header>
            <h3 class="header-text">How I work:</h3>
        </header>
    </div>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>conducting rapid and lifelong learning and knowledge sharing</h4>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>working as an enthusiastically and creative mind as well as an empathic, loyal and fair-minded team
                    player</h4>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>providing passionate team leading and people management</h4>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>being an inherent part of interdisciplinary teams</h4>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>empowering people and teams by conducting workshop and giving presentations</h4>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>emphasizing new ways of working</h4>
            </div>
        </div>
    </article>
    <article>
        <div class="col-sm-4 timetable-left marked">
            <span></span>
        </div>
        <div class="col-sm-8 timetable-right">
            <div class="article-body">
                <h4>appreciating sense of humour, empathy, transparency and honesty</h4>
            </div>
        </div>
    </article>
</section>