<header id="top" class="banner">
    <div class="user-title">
        <h1 class="full-name">
            Boris Fründt
            <svg width="79.001" height="125" viewBox="0 0 79.001 125" xmlns="http://www.w3.org/2000/svg">
                <title></title>
                <path
                    d="M 49.678466,0.40348861 38.280161,42.627119 l 30.152542,0 -42.050847,57.254233 12.762712,-42.491521 -30.457627,0"
                    fill="#FFFFFF" fill-opacity="1" stroke="none" />
            </svg>
        </h1>
        <h2 class="title">{{ page.welcome }}</h2>
        <ul class="user-contact">
            <li class="birthdate">Date of Birth:
                <strong>26th January 1985</strong>
            </li>
            <li class="nationality">Nationality:
                <strong>German</strong>
            </li>
            <li class="adr locality">Location:
                <strong>Potsdam, Germany</strong>
            </li>
            <li class="phone">Phone:
                <strong>+49 160 1559634</strong>
            </li>
            <li class="email">
                Email:
                <strong><a href="mailto:hey@boris.io">hey@boris.io</a></strong>
            </li>
            <li>
                Website:
                <strong><a href="https://boris.io">boris.io</a></strong>
            </li>
        </ul>
    </div>
</header>