.circles {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    li {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        text-align: center;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        margin: 10px 24px;
        box-shadow: 0 0 0 3px $darkblue;
        overflow: hidden;
        transition: all 0.2s;

        h4 {
            color: $darkblue;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -5%);
        }

        svg {
            order: 0;
            flex: 0 1 auto;
            align-self: flex-start;
            width: 40%;
            height: 40%;
            transform: translate(0%, 20%);
        }
    }
}