.circles {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    li {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        text-align: center;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        margin: 10px 24px;
        box-shadow: 0 0 0 3px $blue;
        overflow: hidden;
        transition: all 0.2s;
        cursor: crosshair;

        &:hover {
            background: $blue;
            color: #702fa8;
            box-shadow: 0 0 0 8px $darkestgrey;

            h4 {
                transform: translate(-50%, -50%);
            }

            svg {
                transform: translateX(150%);
            }
        }

        h4 {
            color: $darkgrey;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-250%, -50%);
            transition: transform 200ms ease-in-out 0ms;
        }

        svg {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            width: 50%;
            height: 50%;
            transition: transform 200ms ease-in-out 0ms;
        }
    }
}