---
layout: default
---


{% include header.html %}

<nav class="menu profile" id="profile">
    <div class="menu-bar content-container clearfix">
        {% include stage.html %}
        <button class="hamburger" on='tap:sidebar.toggle'></button>
        <amp-sidebar id="sidebar" layout="nodisplay" side="right">
            <nav toolbar="(min-width: 1024px)" toolbar-target="target-element">
                <ul class="nav navbar-nav clearfix">
                    <li>
                        <a href="/" title="Home">Home</a>
                    </li>
                    <li>
                        <a href="/imprint/#content" title="Imprint">Imprint</a>
                    </li>
                    <li>
                        <a href="/data-privacy/#content" title="Data Privacy">Data Privacy</a>
                    </li>
                </ul>
            </nav>
        </amp-sidebar>
        <div id="target-element">
        </div>
    </div>
</nav>

<section class="text_story full-width" id="content">
    <header>
        <h3 class="header-text">{{ page.title }}</h3>
    </header>
    <article>
        {{ content }}
    </article>
</section>